body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 50px;
    color: #333333;
}

.button input[type="submit"]{
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    padding: 20px 40px;
    height: 60px;
    width: 150px;
    border-radius: 20px;
    display: inline-block;
    font-size: 1em;
}

.button input[type="submit"] a:hover {
    background-color: #0056b3;
}
 
.button input[type="submit"]{
    margin: 10px 0;
}